<h1>Connect to EventBrite</h1>

<p>We need to connect to EventBrite so that we can retrieve event and attendee data on your behalf.</p>

<p>Please click the button below and you will be redirect to EventBrite.</p>

<p><%= link_to "Connect to EventBrite", @authorization_url %></p>
