<table class="events">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= link_to "Edit", edit_event_path(event) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

